p{
    margin-left: 0.5rem;
}

main{
    flex-direction: column;
    flex-flow: wrap;
    padding-bottom: 1rem;
}

article{
    margin-bottom: 1rem;
}

@media (max-width: 1840px) {
    body{
        overflow: auto;
    }
}
