:root {
	--white: #ffffff;
	--blue: #89cff0;
	--black: #000000;
	--yellow: #ffd700;
	--grey: #8d918d;
	--transparant_black: rgba(0, 0, 0, 0.9);
	--gradient: linear-gradient(var(--transparant_black), var(--transparant_black)) padding-box, linear-gradient(to right, var(--blue), var(--yellow)) border-box;

}