/* --Containers-- */
body {
  font-family: Lexend, sans-serif;
  color: var(--headers);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

section::-webkit-scrollbar {
  display: none
}

section {
  -ms-overflow-style: none
}

::-webkit-scrollbar {
  display: none
}

#about section {
  background-color: var(--nav);
  color: var(--nav-text);
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 1vw 15vw
}

/* --Text-- */
a {
  text-decoration: none;
  color: var(--subText)
}

h1, h2, h3, h4, p {
  padding: .5vw
}

h1 {
  font-size: 5vw
}

h2 {
  font-size: 2.4vw
}

h3 {
  font-size: 2.3vw
}

h4 {
  font-size: 2.2vw
}

p {
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.2
}

h1, h2 {
  align-self: flex-start
}

h3, p {
  align-self: flex-end
}

/* --Navigation-- */
nav {
  position: fixed;
  font-weight: bold;
  z-index: 10;
  padding: 0.5vw 1vw;
  border-radius: 0 0 0 0.3vw;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

nav a {
  color: var(--nav-text);
  text-decoration: none;
  padding: .5vw;
  font-size: 1.5vw;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  line-height: 1.5
}

#openMenu, .closebtn {
  display: none
}

#colorChangeButtons {
  position: fixed;
  z-index: 10;
  bottom: 1vw;
  overflow: auto;
  height: 20vw;
  left: 1vw;
  border-radius: 1vw;
  background-color: rgba(52, 73, 94, 0.98);
  box-shadow: var(--shadow);
}

#colorChangeButtons a {
  color: white;
  display: block;
  width: 10vw;
}

@media (max-width:1050px) {
  nav {
    height: 100%;
    width: 0;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #000;
    background-color: rgba(52, 73, 94, .98);
    overflow-x: hidden;
    transition: .5s;
    z-index: 2;
    margin-top: 0
  }

  nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: .3s;
    width: 100%
  }

  #overlay, #colorChangeButtons {
    position: relative;
    width: 100%;
    text-align: center;
    box-shadow: none;
  }

  #colorChangeButtons {
    left: 0;
    border-radius: 0;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  #colorChangeButtons a {
    width: 100%;
  }

  nav a:focus, nav a:hover {
    background-color: var(--primary)
  }

  #openMenu, .closebtn {
    font-size: 8vw;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    display: block;
    padding: 0 1vw;
    cursor: pointer
  }

  a:nth-child(1):hover~.animation {
    display: none
  }

  a {
    width: 100%;
    text-align: center;
    position: relative;
  }

  a:nth-child(2) {
    width: 100%
  }

  a:nth-child(3) {
    width: 100%
  }

  a:nth-child(4) {
    width: 100%
  }

  a:hover~.animation {
    background-color: transparent
  }

  nav a:focus, nav a:hover {
    background-color: transparent
  }

  .closebtn {
    position: absolute;
    text-align: right;
    right: 1rem;
  }

  .open {
    width: 100%;
  }

  .close {
    width: 0;
  }
}
