/* --Containers-- */
main {
  display: grid;
  grid-template-areas: "section""about";
  width: 100%;
  grid-template-rows: 100vh;
  position: absolute
}

section {
  position: absolute;
  flex-flow: column;
  align-items: center;
  line-height: 1.3;
  justify-content: center;
  display: flex;
  padding-bottom: 1vw
}

main article+section>* {
  width: 60%
}

main>article:first-child {
  justify-content: center;
  box-shadow: var(--shadow)
}

article {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-flow: column
}

section {
  position: relative
}

section>* {
  width: 50%;
  text-align: left;
  align-self: auto
}

#about section>:nth-child(even) {
  border-left: 1px solid #556784;
  margin: 2vw auto
}

main>article {
  position: relative;
  height: 100%
}

main:first-child {
  grid-area: intro
}

#about {
  grid-area: about
}

/* --Text-- */
h1 {
  text-align: center
}

#about h2 {
  font-size: 4vw
}

article:not(#about) h2 {
  text-align: center
}

#about h2, #about h3 {
  color: #556784
}

h4 {
  color: #89abe3
}

main>article>section>button {
  position: relative;
  background-color: transparent;
  border: none;
  width: 6vw;
  bottom: 0rem;
  top: 20vh;
  cursor: pointer;
}

svg {
  width: 100%;
  height: auto;
}

@media (max-width:800px) {
  h1, h2 {
    width: 60%;
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400
  }
}
