/*---Fonts---*/
@font-face {
	font-family: GreatVibes;
	src: url(../fonts/GreatVibes-Regular.ttf);
}

@font-face {
	font-family: Kameron;
	src: url(../fonts/Kameron-Regular.ttf);
}

@font-face {
	font-family: Jura;
	src: url(../fonts/Jura-VariableFont_wght.ttf);
}

@font-face {
	font-family: Andika;
	src: url(../fonts/Andika-Regular.ttf);
}

/*---Containers---*/
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Jura;
	font-weight: 100;
	width: 100%;
	overflow: hidden;
	margin: 0;

	-user-select: none;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
}

div {
	position: absolute;
}

div,
article {
	transition: scale 2s;
	color: #fff;
	background: rgba(0, 0, 0, 0.9);
	padding: 1rem;
	border-radius: 1rem;
	width: 35%;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
			padding-box,
		linear-gradient(to top right, #89cff0, #ffffff, #89cff0) border-box;
	border: 0.1px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

article {
	position: relative;
	width: 40%;
	z-index: 1;
	justify-content: end;
	align-items: flex-end;
	margin: 1rem;
}
/*---Text---*/
h1 {
	color: #8d918d;
	position: fixed;
	top: 0;
	font-size: 8rem;
	margin: 0;
	font-weight: 100;
}

h2 {
	color: #ffd700;
	margin: 0;
	font-size: 2.5rem;
	font-weight: 100;
}

.blue:first-of-type {
	top: 10rem;
	position: fixed;
}

.scaled > p {
	color: #8d918d;
}

p {
	color: #8d918d;
	font-size: 1.4rem;
	font-weight: 100;
	margin: 0;
}

article > p {
	font-size: 2rem;
	text-align: justify;
}

.yellow {
	color: #ffd700;
	font-size: 1.6rem;
}

.blue {
	color: #89cff0;
	font-size: 1.6rem;
}

a {
	cursor: pointer;
	/* width: 30px; */
	/* height: 30px; */
	/* border-radius: 50%; */
}

h2 + p + a {
	border-radius: 1rem;
	padding: 1rem;
	justify-self: flex-end;
	align-self: end;

	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
			padding-box,
		linear-gradient(to right, #89cff0, #ffd700) border-box;
	border: 0.1px solid transparent;
}

article > a,
div > a {
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	display: block;
	width: max-content;
	height: initial;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
			padding-box,
		linear-gradient(to right, #89cff0, #ffd700) border-box;
	border: 0.1px solid transparent;
}

p > .link {
	width: auto;
	height: auto;
	margin: auto;
	padding: auto;
	z-index: 5;border: none;
	color: inherit;
	text-decoration: underline dotted;
}

@keyframes example {
	0% {
		transform: scale(0.01);
	}
	100% {
		transform: scale(1) translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}
}

.scaled {
	animation: example 1s forwards;
}

img {
	width: 8vw;
	left: 2rem;
	position: fixed;
	border-radius: 100%;
}

footer img {
	width: 3rem;
	position: relative;
	margin: 0 0.5rem;
	left: 0;
	/* filter: opacity(0.5) drop-shadow(0 0 0 #53c1f5); */
}

footer > a {
	width: auto;
	height: auto;
	border-radius: initial;
}

footer {
	position: fixed;
	display: flex;
	bottom: 0;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 0.5rem;
}
