body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#blurOverlay{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

main{
    height: 100%;
}

article{
    background: inherit;
    width: 20rem;
    height: 30rem;
    position: relative;
    top: 5rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

article:before{
    content: " ";
    width:100%;
    height:100%;
    position: absolute;
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

article:after{
    position: absolute;
    z-index: -1;
    border-radius: 1rem;
    content: " ";
    width: 30rem;
    height: 40rem;
    background: inherit;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200rem rgba(0, 0, 0, 0.3);
    filter: blur(20px);
}

article h1{
    color: white;
    padding: 1rem;
}
